{% extends 'base.html' %}

{% block navbar_items %}
<ul class="navbar-nav flex-row flex-wrap ms-md-auto justify-content-end">
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('user.show_all_playlists')}}">My Playlists</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{{ url_for('auth.get_phone_number')}}">Update Phone Number</a>
  </li>
</ul>
{% endblock %}
{% block logged_in_user %}
<div class="container">
  <p class="lead"> Logged in as {% block user %}{% endblock %} <small>(<a class="text-muted"href="/log-out">log out</a>)</small></p>
</div>
{% endblock %}