{% extends 'base.html' %}

{% block navbar_items %}
  <button class="navbar-toggler btn btn-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
    options
    </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample01">
    <ul class="navbar-nav me-auto mb-2">
      <li class="nav-item">
        <a class="nav-link text-secondary" href="{{ url_for('user.show_all_playlists')}}">Create a Playlist</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="{{ url_for('user.show_all_playlists')}}">See All My Playlists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="{{ url_for('auth.log_out')}}">Log Out ({% block display_name %}{% endblock %})</a>
        <!-- <p class="lead"> <small>(<a class="text-muted"href="/log-out">log out</a>)</small></p> -->
      </li>
      <li class="nav-item">
        <a class="nav-link text-secondary" href="{{ url_for('auth.get_phone_number')}}">Update Phone Number</a>
      </li>
    </ul>
  </div>
{% endblock %}