{% extends 'header.html' %}

{% block display_name %}{{ host_user.display_name }}{% endblock %}

{% block content %}


<div class="container">
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="row">
      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder="Select Playlist", class="form-control text-secondary col") }}
      {% endfor %}
      <button class="btn btn-primary col-2">Go</button>
    </div>
  </form>
</div>
<div class="container has-top-margin">
  <div class="row">
    <h1 class="col"><a href="{{playlist.url}}" target="_blank" rel="noopener noreferrer">
      {{playlist.title}}</a> #{{playlist.key}}
      {% if playlist.id == host_user.active_playlist_id %}
        (active)  
      {% else %}
        (inactive)
      {% endif %}
    </h1>
  </div>
  <div class="row">
    <button class="btn btn-sm btn-secondary col-3" onClick="window.location.reload();">Refresh</button>
    <form class="col-3" action="{{ url_for('user.activate_playlist', id = playlist.id) }}" style="display:inline;" method="POST">
      <button class="btn btn-sm btn-secondary col-12">Make This My Active Playlist</button>
    </form>
  </div>
</div>
<div class="container has-top-margin">
  <table class="table table-striped">
    <thead>
      <th scope="col">Track</th>
      <th scope="col">Artist</th>
      <th class="col-3"scope="col">Added By</th>
    </thead>
    <tbody>
      {% for track in playlist.tracks %}
      <tr scope="row">
        <!-- target="_blank" rel="noopener noreferrer" makes link open in new tab -->
        <td>{{ track.name }}</td>
        <td>{{ track.artist }}</td>
        <td>{{ track.added_by(playlist=host_user.active_playlist) }}</td>
      </tr>
      {% endfor %} 
    </tbody>

  </table>
  {% if not playlist.tracks %}
    <p class="text-center text-muted">Song data will be shown here when songs are added to this playlist.</p>
  {% endif %}
</div>


{% endblock %}