{% extends 'header.html' %}

{% block display_name %}{{ host_user.display_name }}{% endblock %}

{% block content %}
<div class="container">
  <h1>
    <a href="{{playlist.url}}" target="_blank" rel="noopener noreferrer">
    {{playlist.title}}</a> #{{playlist.key}}

  </h1>
  {% if playlist.id == host_user.active_playlist_id %}
  <p>You can send Spotify links to <em class="text-primary">{{ twilio_phone_number }}</em> to add songs to this playlist.</p>
  <p>After your friends text <em class="text-primary">#{{playlist.key}}</em> to {{ twilio_phone_number }}, they can add songs by sending links too.</p>
  {% else %}
  <h4 class="text-primary">This playlist is not your active playlist.</h4>
  <p>Spotify links received from you will be added to "{{ host_user.active_playlist.title }}" #{{ host_user.active_playlist.key }}.</p>
  <p>If you want Spotify links recieved from you to go to this playlist, push "Make This My Active Playlist"</p>
  <div class="row">
    <form action="{{ url_for('user.activate_playlist', id = playlist.id) }}" style="display:inline;" method="POST">
      <button class="btn btn-sm btn-success col-12">Make This My Active Playlist</button>
    </form>
  </div>
  {% endif %}
</div>
<div class="container has-top-margin">
  <table class="table table-striped">
    <thead>
      <th scope="col">Track</th>
      <th scope="col">Artist</th>
      <th class="col-3"scope="col">Added By</th>
    </thead>
    <tbody>
      {% for track in playlist.tracks %}
      <tr scope="row">
        <!-- target="_blank" rel="noopener noreferrer" makes link open in new tab -->
        <td>{{ track.name }}</td>
        <td>{{ track.artist }}</td>
        <td>{{ track.added_by(playlist=host_user.active_playlist) }}</td>
      </tr>
      {% endfor %} 
    </tbody>

  </table>
  {% if not playlist.tracks %}
    <p class="text-center text-muted">Song data will be shown here when songs are added to this playlist.</p>
  {% endif %}
</div>


{% endblock %}