<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block styles %}
  {{ bootstrap.load_css() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/css/intlTelInput.css">
  {% endblock %}

  <title>
    Spotify Text Playlists&ndash; {% block title %}{% endblock %}
  </title>
</head>
<body>
<nav class="navbar navbar-expand">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">
        <span>Spotify Text Message Playlists</span>
      </a>
    </div>
    <ul class="nav navbar-nav narbar-right">
      <li><a href="/profile">View Tracks</a></li>
      <li><a href="/playlists">Create Another Playlist</a></li>
      <li><a href="/phone">Update Phone Number</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <p class="lead"> Logged in as {% block user %}{% endblock %} <small>(<a class="text-muted"href="/log-out">log out</a>)</small></p>
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}

  {% block content %}
  <!-- page content goes here -->
  {% endblock %}
</div>
{% block scripts %}
{{ bootstrap.load_js() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/intlTelInput.min.js"></script>
{% endblock %}
</body>
</html>