<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% block styles %}
  {{ bootstrap.load_css() }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/css/intlTelInput.css">
  {% endblock %}
  <link rel="stylesheet" href="../static/styles.css">
  <link rel="stylesheet" href="../static/bootstrap.scss">
  <title>
    Spotify Text Playlists&ndash; {% block title %}{% endblock %}
  </title>
</head>
<body>
<nav class="navbar navbar-expand-lg ">
  <div class="container">
    <a class="navbar-brand" href="/user">Spotify Text Message Playlists</a>
    {% block navbar_items %}
    {% endblock %}
  </div>
</nav>
{% block logged_in_user %}
{% endblock %}
<div class="container">
  {% for category, message in get_flashed_messages(with_categories=True) %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
  {% block content %}
    <!-- page content goes here -->
  {% endblock %}
</div>
{% block scripts %}
{{ bootstrap.load_js() }}
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/16.0.4/js/intlTelInput.min.js"></script>
{% endblock %}
</body>
</html>