{% extends 'header.html' %}

{% block title %}{{ host_user.display_name }}{% endblock %}
{% block user %}{{ host_user.display_name }}{% endblock %}

{% block content %}
<div class="container"style="margin-top:25px">
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="container">
      <div class="row">
        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control col") }}
        {% endfor %}
        <button class="btn btn-primary col-2">Create</button>
      </div>
    </div>
  </form>
</div>
<div class="container has-top-margin">
  <table class="table">
    <thead>
      <th scope="col">Your Playlists</th>
      <th scope="col">Key</th>
      <th class="col-1" scope="col">Activate</th>
      <th class="col-1" scope="col halign">Delete</th>
    </thead>
    <tbody>
      {% for playlist in host_user.playlists %}
      <tr scope="row">
        <!-- target="_blank" rel="noopener noreferrer" makes link open in new tab -->
        <td><a href="/profile/{{ playlist.id }}">{{ playlist.title }}</a>
          {% if playlist.id == host_user.active_playlist_id %}
            (active)
          {% endif %}
        </td>
        <td>#{{ playlist.key }}</td>
        <td>
          <form action="/profile/{{ playlist.id }}/activate" style="display:inline;" method="POST">
            <button class="btn btn-sm btn-primary">Activate</button>
          </form>
        </td>
        <td>
          <form action="/profile/{{ playlist.id }}/delete" style="display:inline;" method="POST">
            <button class="btn btn-sm btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}