{% extends 'base.html' %}

{% block title %}{{ user.display_name }}{% endblock %}

{% block content %}
<h1>{{ user.display_name }}'s SMS playlists</h1>

<ul>
  {% for playlist in user.playlists %}
  <li>{{ playlist.title }} by {{ playlist.user.username }}
    {% if session['user_id'] == playlist.user_id %}
    <form action="/playlists/{{ playlist.id }}/delete" style="display:inline;" method="POST">
      <button class="btn btn-sm btn-danger">Delete playlist</button>
    </form>
    {% endif %}
  </li>
  
  {% endfor %}
</ul>
{% endblock %}