{% extends 'base.html' %}

{% block title %}{{ host_user.display_name }}{% endblock %}
{% block user %}{{ host_user.display_name }}{% endblock %}

{% block content %}


<div class="container">
  <form method="POST">
    {{ form.hidden_tag() }}
    <div class="row">
      {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
          <span class="text-danger">{{ error }}</span>
        {% endfor %}
        {{ field(placeholder="Select Playlist", class="form-control col") }}
      {% endfor %}
      <button class="btn btn-primary col-2">Go</button>
    </div>
  </form>
</div>
<div class="container" style="margin-top:25px">
  <div class="row">
    <h1 class="col"><a href="{{playlist.url}}" target="_blank" rel="noopener noreferrer">{{playlist.title}}</a> #{{playlist.key}}</h1>
  </div>
  <div class="row">
    <button class="btn btn-sm btn-secondary col-2" onClick="window.location.reload();">Refresh</button>
  </div>
  <table class="table table-striped">
    <thead>
      <th scope="col">Track</th>
      <th scope="col">Artist</th>
      <th scope="col">Added By</th>
    </thead>
    <tbody>
      {% for track in playlist.tracks %}
      <tr scope="row">
        <!-- target="_blank" rel="noopener noreferrer" makes link open in new tab -->
        <td>{{ track.name }}</td>
        <td>{{ track.artist }}</td>
        <td>{{ track.added_by(playlist=host_user.active_playlist) }}</td>
      </tr>
      {% endfor %} 
    </tbody>

  </table>
  {% if not playlist.tracks %}
    <p class="text-center text-muted">Track data will be shown here when tracks are added to this playlist.</p>
  {% endif %}
</div>


{% endblock %}