{% extends 'base.html' %}

{% block title %}{{ user.display_name }}{% endblock %}
{% block user %}{{ user.display_name }}{% endblock %}

{% block content %}
<h6>Select Playlist</h6>
<form method="POST">
  {{ form.hidden_tag() }}

  {% for field in form if field.widget.input_type != 'hidden' %}
    {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>
    {% endfor %}
    {{ field(placeholder=field.label.text, class="form-control", onchange="submit()") }}
  {% endfor %}

<h1>{{playlist.title}} #{{playlist.key}}</h3>
<table class="table">
  <thead>
    <th scope="col">Track</th>
    <th scope="col">Artist</th>
    <th scope="col">Added By</th>
  </thead>
  <tbody>
    {% for track in playlist.tracks %}
    <tr scope="row">
      <!-- target="_blank" rel="noopener noreferrer" makes link open in new tab -->
      <td>{{ track.name }}</td>
      <td>{{ track.artist }}</td>
      <td>{{ track.added_by(playlist=user.active_playlist) }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}